@charset "UTF-8";
/* CSS Document */

/* Changing the header colors */

h1, h2

	{color:#660000;
}

body
	
    {height:100%;
    width: 600px;
    margin:auto;
    font-family:Arial, sans-serif;
    font-size:14px;
    color:#333333;
    line-height:25px;
    background-color:#FFE6CC;
	text-align:center;
}
